.header {
  font-family: "Raleway", sans-serif;
  background-color: #e9eef6;
  height: 200px;
  width: 100%;
  padding-top: 50px;
}

.btn {
  font-family: "Roboto Slab", serif;
}

.task-container {
  height: 100%;
  width: 100%;
  display: flex;
  padding: 40px 100px;
  flex-direction: row;
  justify-content: center;
}

.about {
  margin-left: 5px;
  font-size: 20px;
}
