.card-container {
  height: 300px;
  width: 300px;
  box-shadow: 0px 3px 50px #a5a5a5;
}

.card-wrapper {
  width: 300px;
  height: 300px;
  box-shadow: 0px 3px 50px #a5a5a5;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.card-top {
  width: 100%;
  height: 3%;
}

.task-holder {
  width: 100%;
  height: 98%;
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-header {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  height: 40px;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
